<div class="container bs-docs-container">
    <div class="page-header">
        <h1>{{page.title}} <small>{{page.tagline}}</small></h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="content" ng-bind-html="page.content"></div>
            <ul class="list-inline">
                <li><i class="glyphicon glyphicon-folder-open"></i></li>
                <li ng-repeat="category in page.categories">{{category}}</li>
            </ul>
            <ul class="list-inline">
                <li><i class="glyphicon glyphicon-tags"></i></li>
                <li ng-repeat="tag in page.tags">{{tag}}</li>
            </ul>
        </div>
    </div>
</div>
